body 
{
    background-color: blanchedalmond;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dyski
{
    text-align: center;
}

td
{
padding-left: 200px;
padding-bottom: 20px; 
}